html {
  font-size: 0.5787037037vw;
}
:root {
  --padding-container : 8rem;
}
p{
  margin-bottom: 0;
}
.line_bottom{
  position: relative;
  width: max-content;
  &.active::before{
    width: 100%;
  }
  &::before{
    left: 0;
      bottom: 0;
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #d4482a;
      transition: all .4s;
    }
    &:hover::before{
      width: 100%;
    }
}
a{
  text-decoration: none;
  display: block;
  color: #3B3B3B;
}
@font-face {
  font-family: 'BeVietnamPro';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/BeVietnamPro-Medium.woff2");
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter-Regular.woff2");
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter-SemiBold.woff2");
}
*{
  box-sizing: border-box;
}
.border_line{
  position: relative;
  width: max-content;
  &>div{
    content: "";
    background-color: #7F7F7F;
    width: 0;
    height: 1px;
    position: absolute;
    transition: all .3s ease;
  }
  &:hover>div{
    width: 100%;
  }
}
body {
  margin: 0 !important;
  font-family: 'Inter';
  font-size: 1.6rem;
  line-height: 1.3;
  color: #1d1d1dcc;
}
.kl_container {
  width: 100%;
  max-width: 100%;
  padding-inline: var(--padding-container);
}
.kl_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.4rem;
}
.hidden{
  display: none;
}
h1, h2{
  margin: 0;
}
@media only screen and (max-width: 991px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 1.30208333333vw;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 2.27272727273vw;
  }
}
.img_abs{
  position: relative;
  img{
    position: absolute;
    inset: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.txt_16{
  font-size: 1.6rem;
}
.txt_18{
  line-height: 1.3em;
  font-size: 1.8rem;
}
.txt_20{
  font-size: 2rem;
  line-height: 1.3em;
}
.txt_24{
  font-size: 2.4rem;
  line-height: 1.2em;
}
.txt_28{
  font-size: 2.8rem;
  line-height: 1.2em;
}
.txt_med {
  font-weight: 500;
}
.txt_semi {
  font-weight: 600;
}
.svg_full{
  width: 100%;
}
.txt_title{
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2em;
  /* text-transform: uppercase; */
  font-family: 'BeVietnamPro';
  color: #000;
}
.section_pad{
  padding-block: 8rem;
}
.bg_title{
  background-color: #d4482a;
}
.txt_subtitle{
  font-size: 1.6rem;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  color: #1D1D1D;
}
.txt_bold {
  font-weight: 700;
}
.left_full {
  margin-left: calc(var(--padding-container)*-1);
}
.right_full {
  margin-right: calc(var(--padding-container)*-1);
}
.img_full{
  display: flex;
}
.img_full img{
  width: 100%;
  object-fit: cover;
}
.img_fullfill img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.txt_justify {
  text-align: justify;
}
.txt_center{
  text-align: center;
}
.txt_title_color{
  color: #1D1D1D;
  p{
    margin-bottom:0;
  }
}
.txt_opacity_70{
  opacity: .7;
}
.img_radius{
  border-radius: 2rem;
}
.bg_line{
  background: #F5F5F5 url('./assets/img/bg_line.png') repeat;
  background-size: auto;
}
.tablet{
  display: none;
}
.mobile{
  display: none;
}
.txt_uppercase{
  text-transform: uppercase;
}
.txt_wh_500{
  font-weight: 500;
}
.color_white{
  color: #fff;
}
.overflow_hidden {
  overflow: hidden;
}
@media only screen and (max-width: 991px){
  .desktop{
    display: none !important;
  }
  .kl_grid {
  column-gap: 2rem;
}
  .tablet{
    display: block;
  }
.txt_title{
  font-size: 3.5rem;
}
.txt_subtitle{
  font-size: 1.2rem;
}
.home_hero_des_link{
    margin-top: 2.2rem;
}
.home_hero_des_link{
    padding: 1.2rem 1.2rem;
    gap: .8rem;
    width: 13.5rem;
}
.home_hero_des_link_icon{
    width: 2rem;
}
.block_title{
  padding-left: 1.5rem;
  &::before{
      width: 1rem;
      height: 1rem;
  }

}
}
@media only screen and (max-width: 767px){
  .mobile{
    display: block;
  }
  .middle{
    display: none;
  }

.kl_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
}
.txt_center_mb{
  text-align: center;
}
.bg_line_mb{
  background: url('./assets/img/line-th2.png') repeat;
  background-size: auto;
}
.txt_title{
  font-size: 2rem;
}
.txt_subtitle{
  font-size: 1.2rem;
}
.home_hero_des_link{
    margin-top: 1.5rem;
}
.home_hero_des_link{
    padding: .7rem;
    gap: .4rem;
    width: 12.5rem;
}
.home_hero_des_link_icon{
    width: 2rem;
}
.block_title{
  padding-left: 1.5rem;
  &::before{
      width: .8rem;
      height: .8rem;
  }

}
}


/* header */
.header_logo{
  width: 12.6rem;
}
.header_inner{
  display: flex;
  justify-content: space-between;
}
.header{
  padding-block: 1rem;
}
.header_menu{
  display: flex;
  gap: 3.2rem;
}
.header_menu_item{
  padding: 1rem;
  padding-inline: 0;
  transition: all .4s;
  position: relative;
  &:hover{
    color: #d4482a;
  }
  &.active{
    color: #d4482a;
  }
}
.header_contact_inner{
  background-color: #ff5733;
  width: 12.6rem;
  padding-block: 1rem;
  text-align: center;
  border-radius: 1rem;
  color: #fff;
  position: relative;
  &:hover{
    .header_contact_inner_overlay{
      width: 100%;
    }
  }
}
.header_contact_inner_txt{
  position: relative;
  z-index: 111;
}
.header_contact_inner_overlay{
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #1D1D1D;
  transition: all .4s ease;
  position: absolute;
  border-radius: 1rem;
}

/* footer */

.footer{
  background-color: #001a33;
  padding-block: 4rem;
}
.footer_inner{
  display: flex;
  justify-content: space-between;
}
.footer_item{
  width: 22%;
}
.footer_item_info_txt, .footer_item_title{
  color: #fff9;
  padding-block: .5rem;
}
.footer_item_title{
  margin-bottom: 2rem;
}
.footer_item_info{
  .footer_item_info_txt{
    margin-bottom: .5rem;
  }
  .footer_item_info_txt:last-child{
    margin-bottom: 0;
  }
}
.footer_item_info_txt.line_bottom::before{
  background-color: #fff9;
}

.footer_copyright{
  margin-top: 4rem;
  padding-block: 1rem;
  border-top: 1px solid #fff9;
}
.footer_copyright_txt{
  color: #fff9;
}